<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
 	<link rel="stylesheet" href="custom.css">
</head>
<body class="body-padding">



<div class="jumbotron"> 
	<div class="container">
  <h1 class="display-4">Forgotten your password?</h1>
  <p class="lead">It always happens! No worries if you have forgotten your password because we are here to help. <br> Just enter your email address in the following and login to your email to reset password.</p>
  <hr class="my-4">
</div>
  <div class="container">
  <p>Please enter emaill address below:</p>
  <form>
  <div class="form-group">
  	<div class="row">
  		<div class="col-md">
    <input type="email" class="form-control" id="forgetInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    	</div>
    	<div class="col-sm">
    <a class="btn btn-primary btn-md" href="#" role="button">Reset</a>
    	</div>
    
  </div>
  <small id="emailHelp" class="form-text text-muted">Link will be provided in your email to reset password.</small>
</div>
</form>
  
</div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>